<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoang.qlsv" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hienthi_danhsach_Activity"
            android:label="Danh sách sinh viên"></activity>
        <activity android:name=".Themsinhvien_Activity"
            android:label="Thêm sinh viên"></activity>
        <activity android:name=".Capnhat_Activity"
            android:label="Cập nhật sinh viên"></activity>
    </application>

</manifest>
